<div class="center">
  <div class="w-35 p-3">
  <form class="login" action="/login" method="post" width="50%">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" name="session[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="session[password]" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="sign-up">
      <a href="/users/new">Sign Up!</a>
      <br>
      or
      <br>
      <a href="#">Sign In with Google</a>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>
