<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Sign In</h1>
          <p>Explain..</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <form class="login" action="/login" method="post" width="50%">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" name="session[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="session[password]" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="sign-up">
          <a href="/users/new">Sign Up!</a>
          <br>
          or
          <br>
          <a href="/auth/google_oauth2">Sign In with Google</a>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="thumbnail">
        <img src="https://image.ibb.co/dxKssR/undraw_account_490v.png" style="width:50%;height:40%;">
      </div>
    </div>
  </div>
</div>
